@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<head>
    <title>Footwear - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/order/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/order/css/icomoon.css">
    <!-- Ion Icon Fonts-->
    <link rel="stylesheet" href="~/order/css/ionicons.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/order/css/bootstrap.min.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/order/css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/order/css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/order/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/order/css/owl.theme.default.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="~/order/css/bootstrap-datepicker.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="~/order/fonts/flaticon/font/flaticon.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/order/css/style.css">
</head>


<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread"><span><a href="index.html" style="color: #77b748;">Trang chủ</a></span> / <span>Thanh toán</span></p>
            </div>
        </div>
    </div>
</div>


<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-sm-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span style="color: #77b748;">01</span></p>
                        <h3>Giỏ hàng</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span style="color: #77b748;">02</span></p>
                        <h3>Thanh toán</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>03</span></p>
                        <h3>Hoàn thành</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <form method="post" class="colorlib-form">
                    <h2>Chi tiết thanh toán</h2>
                    <div class="row">
                        @*<div class="col-md-12">
                            <div class="form-group">
                                <label for="country">Select Country</label>
                                <div class="form-field">
                                    <i class="icon icon-arrow-down3"></i>
                                    <select name="people" id="people" class="form-control">
                                        <option value="#">Select country</option>
                                        <option value="#">Alaska</option>
                                        <option value="#">China</option>
                                        <option value="#">Japan</option>
                                        <option value="#">Korea</option>
                                        <option value="#">Philippines</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fname">Họ</label>
                                <input type="text" id="fname" class="form-control" placeholder="Your firstname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lname">Tên</label>
                                <input type="text" id="lname" class="form-control" placeholder="Your lastname">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="companyname">Tên công ty</label>
                                <input type="text" id="companyname" class="form-control" placeholder="Company Name">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="fname">Địa chỉ</label>
                                <input type="text" id="address" class="form-control" placeholder="Enter Your Address">
                            </div>
                            <div class="form-group">
                                <input type="text" id="address2" class="form-control" placeholder="Second Address">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="companyname">Town/City</label>
                                <input type="text" id="towncity" class="form-control" placeholder="Town or City">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="stateprovince">State/Province</label>
                                <input type="text" id="fname" class="form-control" placeholder="State Province">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lname">Zip/Postal Code</label>
                                <input type="text" id="zippostalcode" class="form-control" placeholder="Zip / Postal">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" id="email" class="form-control" placeholder="State Province">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Phone">Số điện thoại</label>
                                <input type="text" id="zippostalcode" class="form-control" placeholder="">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="radio">
                                    <label><input type="radio" name="optradio"> Tạo một tài khoản? </label>
                                    <label><input type="radio" name="optradio"> Gửi đến địa chỉ khác</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cart-detail">
                            <h2>Cart Total</h2>
                            <ul>
                                <li>
                                    <span>Subtotal</span> <span>$100.00</span>
                                    <ul>
                                        <li><span>1 x Product Name</span> <span>$99.00</span></li>
                                        <li><span>1 x Product Name</span> <span>$78.00</span></li>
                                    </ul>
                                </li>
                                <li><span>Shipping</span> <span>$0.00</span></li>
                                <li><span>Order Total</span> <span>$180.00</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-md-12">
                        <div class="cart-detail">
                            <h2>Payment Method</h2>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio"> Direct Bank Tranfer</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio"> Check Payment</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio"> Paypal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value=""> I have read and accept the terms and conditions</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p><a href="#" class="btn btn-primary">Place an order</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="~/order/js/jquery.min.js"></script>
<!-- popper -->
<script src="~/order/js/popper.min.js"></script>
<!-- bootstrap 4.1 -->
<script src="~/order/js/bootstrap.min.js"></script>
<!-- jQuery easing -->
<script src="~/order/js/jquery.easing.1.3.js"></script>
<!-- Waypoints -->
<script src="~/order/js/jquery.waypoints.min.js"></script>
<!-- Flexslider -->
<script src="~/order/js/jquery.flexslider-min.js"></script>
<!-- Owl carousel -->
<script src="~/order/js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="~/order/js/jquery.magnific-popup.min.js"></script>
<script src="~/order/js/magnific-popup-options.js"></script>
<!-- Date Picker -->
<script src="~/order/js/bootstrap-datepicker.js"></script>
<!-- Stellar Parallax -->
<script src="~/order/js/jquery.stellar.min.js"></script>
<!-- Main -->
<script src="~/order/js/main.js"></script>