@model IEnumerable<Bansach.Models.SACH>

@foreach (var item in Model)
{
    <div class="item">
        <div class="tg-postbook">
            <figure class="tg-featureimg">
                <div class="tg-bookimg">
                    <div class="tg-frontcover"><img style="height:280px" src="~/Content/images/sach/@item.Hinhanh" alt="image description"></div>
                    <div class="tg-backcover"><img src="~/Content/images/books/img-01.jpg" alt="image description"></div>
                </div>
                <a class="tg-btnaddtowishlist" href="">
                    <i class="icon-heart"></i>
                    <span>Yêu thích</span>
                </a>
            </figure>
            <div class="tg-postbookcontent">
                <ul class="tg-bookscategories">
                </ul>
                <div class="tg-themetagbox"><span class="tg-themetag">sale</span></div>
                <div class="tg-booktitle">
                    <h3><a href="@Url.Action("Details","SACHDETAIL")">@item.Tuasach</a></h3>
                </div>
                <span class="tg-bookwriter">By: <a href="javascript:void(0);"></a></span>
                <span class="tg-stars"><span></span></span>
                <span class="tg-bookprice">
                    <ins>@item.Giaban</ins>
                    <del>@item.Giagoc</del>
                </span>
                <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                    <i class="fa fa-shopping-basket"></i>
                    <em>Chọn mua</em>
                </a>
            </div>
        </div>
    </div>

}

