
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/Content/images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>LIÊN HỆ</h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="javascript:void(0);">Trang chủ</a></li>
                        <li class="tg-active">Liên hệ</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            Contact Us Start
    *************************************-->
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="tg-contactus">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-sectionhead">
                            <h2><span>Xin chào</span>Hãy liên hệ với chúng tôi nhé!</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.244298576367!2d106.63866231462274!3d10.79259199231057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752952aa6220b3%3A0xce4cc47da1ba268!2zNjEgQsOgdSBDw6F0IDQsIFBoxrDhu51uZyAxMywgVMOibiBCw6xuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1638978568050!5m2!1svi!2s" width="600" height="800" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <form class="tg-formtheme tg-formcontactus">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" name="first-name" class="form-control" placeholder="Họ">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="last-name" class="form-control" placeholder="Tên">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="number" name="phone" class="form-control" placeholder="Số điện thoại">
                                </div>
                                <div class="form-group tg-hastextarea">
                                    <textarea placeholder="Nội dung"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="tg-btn tg-active">Gửi</button>
                                </div>
                            </fieldset>
                        </form>
                        <div class="tg-contactdetail">
                            <div class="tg-sectionhead">
                                <h2>Liên hệ với chúng tôi ngay nhé!</h2>
                            </div>
                            <ul class="tg-contactinfo">
                                <li>
                                    <i class="icon-apartment"></i>
                                    <address>Bàu Cát 4, phường 14, quận Tân Bình, TP.HCM</address>
                                </li>
                                <li>
                                    <i class="icon-phone-handset"></i>
                                    <span>
                                        <em>+0983649421</em>
                                        <em>+02899886425</em>
                                    </span>
                                </li>
                                <li>
                                    <i class="icon-clock"></i>
                                    <span>Phục vụ 7 ngày trong tuần từ  9h sáng - 5h chiều</span>
                                </li>
                                <li>
                                    <i class="icon-envelope"></i>
                                    <span>
                                        <em><a href="mailto:support@domain.com">kieu060921@gmail.com</a></em>
                                        <em><a href="mailto:info@domain.com">kbook@gmail.com</a></em>
                                    </span>
                                </li>
                            </ul>
                            <ul class="tg-socialicons">
                                <li class="tg-facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                <li class="tg-twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                <li class="tg-linkedin"><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                                <li class="tg-skype"><a href="https://www.skype.com/"><i class="fa fa-skype"></i></a></li>
                                <li class="tg-youtube"><a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            Contact Us End
    *************************************-->
</main>
